Привет!
В общем, я на выходных более детально обдумал тему, предметную область и технологии.
*Тема такая*: Ready, Steady, SpringBoot! Использование SpringBoot для быстрого старта и разработки внутреннего проекта.

*Предметная область*: Очень простая time-tracking система.
Имя/мыло пользователа (ака сотрудник), название проекта, название задачи,
комментарий того, что было сделано по задаче, время, потреченное на эту работу.

*Технологии*: SpringBoot, Spring MVC, Spring Data,
H2 (in-memory DB, чтобы быстро поднять и наполнить базу)

Также, если успею прикрутить - flyway (для версионирования схемы и данных БД), Spring Security.

И ОЧЕНЬ НЕ ТОЧНО, постараюсь, но не обещаю, прикруть, на UI - Angular 5 + Material